//color
$black: #000;
$white: #fff;
$green: #22a565;
$blue: #226da5;

//font-family
$primary-font: 'Noto Sans JP', sans-serif;

//font-size
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-24: 2.4rem;
